<h1>Redo Project</h1>
<p>Ever wanted to do a project again, because you hadn't learned enough the first time?  Well, this is it for me.  :-)
<p>&nbsp;</p>
<p>Find me in app/views/pages/home.html.erb</p>
